* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-container {
  flex: 1;
  background-color: rgb(255, 255, 255);

}

.main-footer-app {
   left: 0;
   bottom: 0;
   width: 100%;
}